Example:
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
*.ReSharper
Tools/*
Key/*
TestResults/*
packages/*
.vs/*
*/.vs/*
/Lansweeper.Service.Database/Lansweeper.Service.Database.dbmdl
/Lansweeper.Service.Database/Lansweeper.Service.Database.jfm
/[Dd]ll*/
!/[Dd]ll/x86/
!/[Dd]ll/amd64/
bin/*
Lansweeper.Service.BL.Tests/bin
packages/*
Service.Shell/app.Debug.config
/TestAutomation/Lansweeper.Service.IntegrationTests/bin/Local/
/TestAutomation/Lansweeper.Service.RegressionTests/bin/Local/
/TestAutomation/NUnitExtensions/bin/Local/
/TestAutomation/Report/bin/Local/
/InternalLansweeperWebApplication/bin/*
/InternalLansweeperWebApplication/Properties/PublishProfiles/* 
/db.config

Lansweeper\.Service\.Echo\.business\.Tests/db\.config
Output
NDependOut/*
*.ndproj
LsMgmtTool/App.config

LsMgmtTool/bin/Key/Encryption.txt
/LsMgmtToolCmd/bin/Key/Encryption.txt
/UpgradeLog.htm

Website/Helpdesk/Files/
[Nn]u[Gg]et.[Cc]onfig

node_modules/

.husky/